command=$SCRIPT_DIR/$BLOCK_NAME
markup=pango


# [load]
# command=/home/booker/.scripts/load_average
# interval=1
# label=

# [disk]
# command=/home/booker/.scripts/disk
# interval=1
# label=

# Volume indicator
#
# The first parameter sets the step (and units to display)
# The second parameter overrides the mixer selection
# See the script for details.

[volume]
label=VOL
#label=♪
instance=Master
#instance=PCM
interval=once
signal=10

# Date Time
#
[time]
command=date '+%d %b %H:%M'
label=
interval=5
